:root{
    --special-color: tomato;
    --second-color:purple;
    --lighting-color: white;
    --dark-color:black;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    flex: 1;
    text-align: center;
}
main > p {
    font-size: 1.25rem;
}
h2+p{
    background-color: black;
    color: white;
    padding: 1rem;
}
.stars span:hover ~ span{
    opacity:  0.5;
}
.stars span{
    cursor: pointer;
}
a[href="#"]{
    color: var(--special-color);
}
a[href^="http"]{
    border-left: 2px solid #551cf1;
    padding-left: 1rem;
}
nav a,
nav a:link,
nav a:visited{
    display: inline-block;
    text-decoration: none;
    color: var(--special-color);
    transition: 0.5s;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(1.5);
}
a[href$=".pdf"]::after{
    content: "\2913";
    color: var(--special-color);
    font-size: 1.24rem;
}
h2+p::first-line{color: var(--special-color);}
h2+p::first-letter{
    color: #var(--special-color); 
    font-family: Georgia;
    initial-letter: 2;
}